.aw-firstColBox {
    display:none !important;
}

#identityLabel-box,
.address-label-container,
#subjectLabel-box {
    margin-left: -40px !important;
}

/* reorder menu bar - tabs bar - universal toolbar */
#toolbar-menubar {
  order: 1;             
}

#tabs-toolbar {
  order: 2;              
}

unified-toolbar {
  order: 3;             
}

/* disable spaces button */
#spacesPinnedButton{
  display: none
}

/* zebra messages pane */
#threadTree tr:nth-child(2n) {
    /* gradient avoids overwriting text */
    background-image: linear-gradient(rgba(0,0,0,.04), rgba(0,0,0,.04)) !important; 
}
/* zebra folder tree */
#folderTree li[is="folder-tree-row"]:nth-child(2n) > div.container {
    /* gradient avoids overwriting text */
    background-image: linear-gradient(rgba(0,0,0,.02), rgba(0,0,0,.02)) !important;
}

/* disable buttons in message header */
.header-buttons-container {
    display:none !important;
}
