.aw-firstColBox {
    display:none !important;
}

#identityLabel-box,
.address-label-container,
#subjectLabel-box {
    margin-left: -40px !important;
}

#toolbar-menubar {
  order: 1;             
}

unified-toolbar {
  order: 3;             
}

#tabs-toolbar {
  order: 2;              
}

#spacesPinnedButton{
  display: none
}
