.aw-firstColBox {
    display:none !important;
}
#identityLabel-box,
.address-label-container,
#subjectLabel-box {
    margin-left: -40px !important;
}

#toolbar-menubar {
  order: 1;             
}

unified-toolbar {
  order: 3;             
}

#tabs-toolbar {
  order: 2;              
}

#spacesPinnedButton{
  display: none
}

.unread > .container > .unread-count {
  display: unset;
  color: gray !important;
  background-color: transparent !important;
}

/* Set colour for new mail */
#threadTree tbody [data-properties~="new"] {
  font-weight: bold !important;
  color: black !important;
}

/* Set colour for folders that contain new mail */
.new-messages > .container > .name {
  color: black !important; 
}

/* zebra messages pane */
#threadTree tr:nth-child(2n) {
    /* gradient avoids overwriting text */
    background-image: linear-gradient(rgba(0,0,0,.04), rgba(0,0,0,.04)) !important; 
}
/* zebra folder tree */
#folderTree li[is="folder-tree-row"]:nth-child(2n) > div.container {
    /* gradient avoids overwriting text */
    background-image: linear-gradient(rgba(0,0,0,.02), rgba(0,0,0,.02)) !important;
}

/* disable buttons in mail pane header */
.header-buttons-container {
    display:none !important;
}

/* disable new mail icon in subject column of mail list */
tr[data-properties~="new"] :is(.subject-line img, .new) {
  visibility: hidden !important;
}

/* disable new mail mark on folder icon in the folder pane */
.new-messages:not([data-server-type]) > .container > .icon::after 
{
  content: url("") !important;
}


/* square corners for context menu */
.tab-background,
#urlbar-background,
#searchbar,
menupopup,
.menupopup-arrowscrollbox{ border-radius: 0 !important; }
:root{--arrowpanel-border-radius:0px !important;}
